/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 6, 2016, 10:33:28 PM
    Author     : zhangqian
*/

//search area
.title{
   font-size: 100px;
}

.search_section{
    margin-top: 20px;
}

.content{
    border-radius: 71px 71px 71px 71px;
-moz-border-radius: 71px 71px 71px 71px;
-webkit-border-radius: 71px 71px 71px 71px;
border: 18px solid #f5f0f5;
}